{{template "base" .}}

{{define "title"}}Log in{{end}}

{{define "main"}}
<p>Name<p>
<input type="name" name="name" class="form-control">

<p>Last Name<p>
<input type="last name" name="last name" class="form-control">

<p>Email<p>
<input type="email" name="email" class="form-control">

<p>Birthday<p>
<input type="birthday" name="birthday" class="form-control">
<br></br>
<button>Submit</button>
{{end}}